body{
    background-color: grey;
}
header{
    text-align: center;
}
#welcome{
    font-size: 16vw;
    font-weight: bold;
    text-align: center;
}
#kiriban{
    display: inline;
    font-style: italic;
    color: blue;
    font-weight: lighter;
}
.CenterInline{
    text-align: center;
}
.CenterBlock{
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-weight: bold;
}
table,td{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.KanariBlink{
    animation: blinkAnimation 500ms infinite linear;
}
@keyframes blinkAnimation{
    0% { color: red }
    25% { color: yellow }
    50% { color: blue }
    75% { color: white }
    100% { color: greenyellow }

}
.AtcoderId{
    text-decoration: none;
    color: brown;
    background: radial-gradient(white 1%,grey 65%);
}
footer{
    text-align: center;
}